body{
    background: #000000;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

input{
    transform: matrix3d();
    transform-origin: 0em;
    font-family: sans-serif;
}

button{
    background: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: aqua;
    transform: perspective();
    text-align: center;
}

a{
    font-size: 50px;
    font-family: sans-serif;
    text-decoration: none;
}